.slideWrapper {
  float: left;
  width: 800px;
  height: 304px;
}
.slideWrapper img {
  width: 100%;
}

.imgWrapper {
  float: right;
  width: 446px;
  height: 304px;
}

.sliders {
  padding: 0px 27px;
}
.sliders:after {
  content: "";
  clear: both;
  display: block;
}


